body {
  background-color: #ffe6f2; /* Rosa claro */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login-container {
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  
}

.login-form-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: ;
}

.login-image img {
  max-width: 500px;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #ff3399; /* Rosa */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #e60073; /* Rosa mais escuro ao passar o mouse */
}
